.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  background-color: #ffffff;

  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    row-gap: 0.5rem;
    margin: 6rem 0;
    margin-bottom: 0rem;

    .project-header-title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 0.5rem;
    }

    .case-study-text {
      color: var(--subtle-text-color);
      font-size: var(--small-text-size);
    }

    .project-title {
      font-size: 4.75rem;
      font-weight: 500;
      letter-spacing: 0.05em;
      font-family: var(--hedvig-letters-serif-font-family);
    }

    .project-description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      text-align: center;
      max-width: 750px;
      color: var(--subtle-text-color);

      &::before {
        content: '';
        flex: 2;
      }
    }

    .button-container {
      margin-top: 2rem;
    }
  }

  .project-image {
    width: 65%;
    height: 45rem;
    background-color: 'red';
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
  }
}
