.contact {
	width: 76%;
	padding: 0 12%;
	display: grid;
	padding-top: 3%;
	justify-content: center;
	padding-bottom: 5%;
}

.contactInfo {
	display: grid;
	grid-template-columns: 75% 25%;
}

.contact div h1 {
	font-size: 6rem;
	font-weight: 700;
	margin-bottom: 1%;
	margin-top: 10%;
}

.contact div h3 {
	font-weight: 700;
	margin-bottom: 3%;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.contact div h3 > a::after {
	content: "";
	width: 100%;
	position: absolute;
	height: 0.5px;
	background: #1C1D20;
	visibility: hidden;
	transform: scaleX(0);
	transition: .25s linear;
	bottom: 0;
	left: 0;
}

.contact div h3 > a:hover::after,
.contact div h3 > a:focus::after {
	visibility: visible;
	transform: scaleX(1);
}
  
.contact div h3 a i {
	font-size: 2.5rem;
	padding-left: 1%;
}

.message {
	width: 90%;
	margin-bottom: 5%;
	font-size: 1.2rem;
	font-weight: 100;
	color: #686868;
}
.socialmedia a {
	margin-right: 8%;
	font-size: 1.4rem;
}

@media screen and (max-width: 1367px) {
	.message {
		width: 80%;
	}

	.socialmedia a {
		margin-right: 12%;
	}

	.contact div h3 {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 3%;
	}
	
	.contact div h3 a i {
		font-size: 2.2rem;
		padding-left: 1%;
	}

	.social {
		grid-template-columns: 40% 60%;
	}	

	.socialmedia a {
		margin-right: 7%;
	}
}

@media screen and (max-width: 800px) {
	.message {
		width: 85%;
		font-size: 1.1rem;
	}

	.contact div h1 {
		font-size: 1.3rem;
	}

	.contact div h3 {
		font-size: 2.3rem;
		font-weight: 700;
		margin-bottom: 3%;
	}
	
	.contact div h3 a i {
		font-size: 1.8rem;
		padding-left: 1%;
	}

	.socialmedia a {
		margin-right: 10%;
	}
}

@media screen and (max-width: 500px) {
	.message {
		width: 85%;
		font-size: 0.85rem;
	}

	.contact div h1 {
		font-size: 1.1rem;
		margin-bottom: 5%;
		font-weight: 500;
	}

	.contact div h3 {
		font-size: 1.1rem;
		font-weight: 900;
		margin-bottom: 6%;
	}
	
	.contact div h3 a i {
		font-size: 0.85rem;
		padding-left: 1%;
	}
	.socialmedia {
		margin-top: 20%;
	}

	.socialmedia a {
		margin-right: 15%;
		font-size: 1.3rem;
	}

}
