.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
  width: 100%;
  background-color: var(--cream-color);
  margin: 0rem 10rem;
  padding: 6rem 0rem;

  .gallery-title {
    width: 100%;
    max-width: 550px;
    color: var(--black-color);
  }
}
