.circle {
    background-color: #eff0f5;
    width: 5vh;
    height: 5vh;
    z-index: 18;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.background {
    width: 10vh;
    height: 10vh;
    z-index: 17;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-color: #6c94d4;
}

.placeholder {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}