.headerLanding h1 {
	font-size: 6rem;
	font-weight: 500;
}

.headerLanding {
	height: 95vh;
	display: grid;
	padding-left: 10%;
	align-items: center;
}

.headerLanding p {
	font-size: 1.4rem;
	width: 60%;
	margin: 3% 0%;
	padding-left: 10%;
}

.emailRequest {
	height: 50vh;
	padding: 0% 10%;
	background-color: #EAEAEB;
	display: grid;
	align-items: center;
}

.emailRequest h1 {
	width: 50%;
	font-size: 2.8rem;
}

.buttonFillOne {
	width: 50px;
	height: 50px;
	margin-top: 5vh;
	padding: 0%;
	display: grid;
	border-radius: 50px;
	align-items: center;
	background-color: #C1C1C2;
	white-space: nowrap;
	cursor: pointer;
}


.button {
	text-transform: uppercase;
	font-weight: 600;
	font-size:  1.1rem;
	margin: 0% 14%;
	display: inline-block;
}

.listofProjects {
	padding: 0 6%;
	width: 88%;
	display: grid;
	grid-template-columns: repeat(2, 48%);
	column-gap: 4%;
	margin-bottom: 10%;
}

.individualProject {
	display: grid;
	align-items: center;
	z-index: 10;
	position: relative;
	grid-template-columns: 90% 10%;
}

hr {
	margin: 4vh 0;
	width: 90%;
	border: 0.5px solid #EAEAEB;
	background-color: #EAEAEB;
}

.individualProject h1 {
	font-size: 2.5rem;
}

.individualProject p {
	color: #6F7071;
}

.individualProject div:nth-child(2) p {
	font-size: 2rem;
	color: #000000;
	display: inline-block;
	text-align: center;
	width: 100%;
}


.individualProject div:nth-child(2) div {
	background-color: #EAEAEB;
	display: inline-block;
	border-radius: 100%;
}


@media screen and (max-height: 1367px) {
	.headerLanding {
		height: 65vh;
	}

	hr {
		margin: 3vh 0;
	}

	.emailRequest {
		height: 35vh;
	}

	.emailRequest h1 { 
		width: 70%;
	}
}


@media screen and (max-width: 1025px) {
	.headerLanding {
		height: 90vh;
	}

	.headerLanding h1 {
		font-size: 5.2rem;
	}

	hr {
		margin: 3vh 0;
	}

	.emailRequest {
		height: 55vh;
		margin-bottom: 10vh;
	}

	.emailRequest h1 { 
		width: 70%;
	}

	.headerLanding p {
		font-size: 1.2rem;
		width: 80%;
	}

	.emailRequest h1 {
		width: 70%;
		font-size: 2.5rem;
	}

	.individualProject h1 {
		font-size: 2rem;
	}

	.individualProject div:nth-child(2) p {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 824px) {
	.headerLanding {
		height: 60vh;
	}

	.headerLanding h1 {
		font-size: 4.5rem;
	}

	.headerLanding p {
		font-size: 1.1rem;
	}

	hr {
		margin: 3vh 0;
	}

	.listofProjects {
		grid-template-columns: 100%;
		column-gap: 0%;
		padding: 0 6% 0% 12%;
		width: 82%;
	}

	.emailRequest {
		height: 40vh;
		margin-bottom: 10vh;
	}

	.emailRequest h1 { 
		width: 90%;
		font-size: 2.3rem;
	}

	.headerLanding p {
		font-size: 1.2rem;
		width: 80%;
	}

	.individualProject h1 {
		font-size: 2rem;
	}

	.individualProject div:nth-child(2) p {
		font-size: 1.3rem;
	}
}



@media screen and (max-width: 500px) {
	.headerLanding {
		height: 80vh;
	}

	.headerLanding h1 {
		font-size: 2.5rem;
	}

	.headerLanding p {
		padding-left: 0%;
		padding-top: 7%;
		font-size: 1rem;
	}

	hr {
		margin: 3vh 0;
	}

	.listofProjects {
		grid-template-columns: 100%;
		column-gap: 0%;
		padding: 0 3% 0% 10%;
		width: 87%;
	}

	.emailRequest {
		height: 35vh;
		margin-bottom: 10vh;
	}

	.emailRequest h1 { 
		width: 90%;
		font-size: 1.6rem;
	}

	.headerLanding p {
		font-size: 1.2rem;
		width: 80%;
	}

	.individualProject h1 {
		font-size: 1.7rem;
		margin-bottom: 4%;
	}

	.individualProject div:nth-child(2) p {
		font-size: 1rem;
	}
}











