.landingPage {
	width: 100%;
	height: 85.5vh;
	position: relative;
	display: grid;
	align-items: flex-end;
}

.verticalBar {
	height: 16vh;
	width: 75%;
	background-color: #6C94D4;
	float: right;
	position: absolute;
	bottom: 15vh;
	z-index: -1;
	right: 0;
}

.intro {
	z-index: 10;
	padding: 1% 1% 4% 2%;
}

.intro p {
	color: #828287;
	font-size: 1.3rem;
}

.intro h1 {
	font-size: 6.4rem;
}

.headerTag {
	writing-mode: vertical-rl;
	font-size: 0.95rem;
	transform: scale(1, 1);
	position: absolute;
	top: 4%;
	right: 2%;
}

.imageOne {
	width: 38%;
	height: 85vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 7;
	margin-right: 28vw;
	background-color: orange;
}

.imageTwo {
	width: 38%;
	height: 63vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 6;
	margin-right: 22vw;
	background-color: lightgoldenrodyellow;
}

.imageThree {
	width: 38%;
	height: 75vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
	margin-right: 16vw;
	background-color: lightgreen;
}

.imageFour {
	width: 38%;
	height: 70vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 4;
	margin-right: 10vw;
	background-color: lightcoral;
}

