.landingPage {
	width: 100%;
	height: 85.5vh;
	position: relative;
	display: grid;
	align-items: flex-end;
}

.verticalBar {
	height: 16vh;
	width: 75%;
	background-color: #B2C3E6;
	float: right;
	position: absolute;
	bottom: 15vh;
	z-index: -1;
	right: 0;
}

.intro {
	z-index: 10;
	padding: 1% 1% 4% 2%;
}

.intro p {
	color: #828287;
	font-size: 1.3rem;
}

.intro h1 {
	font-size: 6.4rem;
}

.intro h1 span {
	color: #ffffff;
}

.headerTag {
	writing-mode: vertical-rl;
	font-size: 0.95rem;
	transform: scale(1, 1);
	position: absolute;
	top: 4%;
	right: 2%;
}

.imageOne {
	width: 38%;
	height: 85vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 7;
	margin-right: 28vw;
	background-color: orange;
	background-image: url('../images/six.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.imageTwo {
	width: 38%;
	height: 63vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 6;
	margin-right: 22vw;
	background-color: lightgoldenrodyellow;
	background-image: url('../images/one.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.imageThree {
	width: 38%;
	height: 75vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
	margin-right: 16vw;
	background-color: lightgreen;
	background-image: url('../images/five.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.imageFour {
	width: 38%;
	height: 70vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 4;
	margin-right: 10vw;
	background-color: lightcoral;
	background-image: url('../images/seven.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.featuredProjects {
	width: 80%;
	margin: 0 10%;
	height: 80vh;
	margin-top: 10vh;
}

.featuredProjects h1 {
	font-size: 3rem;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

.featuredProjects h1:nth-child(2) {
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
  	color: transparent;
}


.buttonLinkContainer {
	width: 100%;
	display: flex;
	justify-content: center;

}

.buttonLinkContainer a {
	color: #000000;
	border: 1px solid gray;
	padding: 1.5% 2.5%;
	font-size: 1.15rem;
	border-radius: 40px;
	transition: .2s transform ease-in-out;
	font-weight: 500;
	overflow: hidden;
}

.buttonLinkContainer a:hover {
	background-color: #000000;
	color: #ffffff;
	transform: scale(1.06);
}

@media screen and (max-width: 500px) {
	button {
		padding: 2.5% 5%;
	}

	.intro {
		padding: 0% 1% 0% 5%;
	}

	.intro h1 span {
		color: #000000;
	}

	.intro p {
		font-size: 1.35rem;
	}
	.intro h1 {
		font-size: 4.8rem;
	}
	.landingPage {
		align-items: flex-start;
	}

	.imageOne {
		width: 78%;
		height: 55vh;	
	}

	.imageTwo {
		width: 78%;
		height: 50vh;
	}

	.imageThree {
		width: 78%;
		height: 52vh;
	}

	.imageFour {
		width: 78%;
		height: 54vh;
	}

	.verticalBar {
		bottom: 10vh;
	}

	.headerTag {
		writing-mode: vertical-rl;
		font-size: 0.95rem;
		transform: scale(1, 1);
		position: absolute;
		top: 25%;
		right: 2%;
	}

	.featuredProjects h1 {
		font-size: 2.3rem;
	}

	
}




