.landingPage {
	width: 100%;
	height: 85.5vh;
	position: relative;
	display: grid;
	align-items: flex-end;
	background-image: url("https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right bottom;
}

.verticalBar {
	height: 16vh;
	width: 75%;
	background-color: #B2C3E6;
	float: right;
	position: absolute;
	bottom: 15vh;
	z-index: -1;
	right: 0;
}

.intro {
	z-index: 10;
	padding: 1% 1% 4% 2%;
}

.intro p {
	color: #828287;
	font-size: 1.3rem;
}

.intro h1 {
	font-size: 6.4rem;
}

.headerTag {
	writing-mode: vertical-rl;
	font-size: 0.95rem;
	transform: scale(1, 1);
	position: absolute;
	top: 4%;
	right: 2%;
}

.featuredProjects {
	width: 80%;
	margin: 0 10%;
	height: 80vh;
	margin-top: 10vh;
}

.featuredProjects h1 {
	font-size: 3rem;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

.featuredProjects h1:nth-child(2) {
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
  	color: transparent;
}


.buttonLinkContainer {
	width: 100%;
	display: flex;
	justify-content: center;

}

.buttonLinkContainer a {
	color: #000000;
	border: 1px solid gray;
	padding: 1.5% 2.5%;
	font-size: 1.15rem;
	border-radius: 40px;
	transition: .2s transform ease-in-out;
	font-weight: 500;
	overflow: hidden;
}

.buttonLinkContainer a:hover {
	background-color: #000000;
	color: #ffffff;
	transform: scale(1.06);
}

@media screen and (max-width: 500px) {
	button {
		padding: 2.5% 5%;
	}

	.intro {
		padding: 0% 1% 0% 5%;
	}


	.intro p {
		font-size: 1.35rem;
	}
	.intro h1 {
		font-size: 4.8rem;
	}
	.landingPage {
		align-items: flex-start;
	}

	.verticalBar {
		bottom: 10vh;
	}

	.headerTag {
		writing-mode: vertical-rl;
		font-size: 0.95rem;
		transform: scale(1, 1);
		position: absolute;
		top: 25%;
		right: 2%;
	}

	.buttonLinkContainer a {
		padding: 3% 4%;
	}

	.featuredProjects h1 {
		font-size: 2.3rem;
	}

	
}




