.button-list-wrapper {
  --padding: 0.4rem;
  --ratio: 2;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  max-width: calc(var(--context-width-size-small) * var(--ratio));
  background-color: red;
  box-sizing: border-box;
  padding: var(--padding);
  border-radius: var(--large-border-radius);
  background-color: var(--light-gray-color);
  backdrop-filter: blur(2rem);
}

.button-list {
  &-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;

    i {
      color: var(--gray-color);
    }
  }

  position: relative;
  display: inline-flex;
  align-items: center;
  width: max-content;
  max-width: 100%;
  min-width: 0;
  overflow-x: hidden;

  &-indicator {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--text-black-color);
    border-radius: calc(var(--large-border-radius) - var(--padding));
    pointer-events: none;
  }

  &-item {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.75rem 1.15rem;
    z-index: 1;
    font-family: inherit;
    font-size: var(--small-text-size);
    transition: color 0.3s ease;
    white-space: nowrap;

    &.is-highlighted {
      .button-list-label {
        color: var(--white-color);
      }
    }
  }

  &-label {
    position: relative;
    z-index: 1;
  }
}
