.context {
	font-size: 1.6rem;
	line-height: 2.5rem;
}

.main {
	margin: 0;
	padding: 0;
}

.landing {
	margin-top: 25vh;
	width: 100%;
	display: grid;
	justify-items: center;
}

.landing h1 {
	font-size: 5rem;
	text-align: center;
	margin: 0;
	padding: 0;
}

.loadingImage {
	margin-bottom: 10vh;
	background-color: orange;
	width: 75%;
	height: 80vh;
	background: url("https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
	padding: 0;
}

.twoColumns {
	display: grid;
	margin: 0 15%;
	background-color: orange;
	grid-template-columns: 30% 70%;
}

.secondAboutImage {
	height: 80vh;
}

.title {
	font-weight: 500;
	font-size: 1.2rem;
}

.twoColumnsImages {
	padding: 0 9%;
	margin-top: 14vh;
	display: grid;
	grid-template-columns: repeat(2, 49%);
	column-gap: 2%;
}

.personalImageOne, .personalImageTwo {
	width: 100%;
	height: 70vh;
	background-color: orange;
}

.personalImageTwo {
	background-image: url("https://images.unsplash.com/photo-1502791451862-7bd8c1df43a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
	background-size: 100%;
	margin-top: 10vh;
}

.personalImageOne {
	background-image: url("https://images.unsplash.com/photo-1549212926-920647491c5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
	background-size: 100%;
	background-repeat: no-repeat;
}









