
.main {
	margin: 0;
	padding: 0;
}

.stripeLine {
	background-color: rgba(28, 29, 32, 0.175);
	width: 100%;
	height: 2px;
	border: none;
}

.aboutCircle .circle {
	background-color: #E9EAEB;
	padding: 5%;
	position: absolute;
	z-index: 1;
    top: 50%;
	width: 10vh;
	height: 10vh;
	left: 75%;
	display: grid;
	justify-content: center;
	align-items: center;
    border-radius: 100%;
	font-size: 3.5rem;
    transform: translate(-50%, -50%);
}

.circle .logoEarth {
	animation: mymove 4s infinite linear ;
}

@keyframes mymove {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
  }

.aboutCircle {
	width: 100%;
	position: relative;
	display: grid;
	justify-items: right;
	margin-bottom: 8%;
}

.landing {
	margin-top: 25vh;
	width: 70%;
	padding: 0 15%;
	display: grid;
	justify-items: left;
}

.resumeInfo {
	padding: 0 15%;
}

.landing .title {
	font-size: 11.5rem;
	text-align: left;
}


.loadingImage {
	margin-bottom: 15vh;
	width: 100%;
	height: 80vh;
	background: url("../images/four.JPG");
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.twoColumns {
	display: grid;
	margin: 0 16%;
	width: 68%;
	height: 100vh;
	grid-template-columns: 30% 65%;
	column-gap: 5%;
}

.secondAboutImage {
	height: 80vh;
}

.heading {
	font-weight: 600;
	font-size: 2.8rem;
	letter-spacing: 1.5px;
	margin-bottom: 3%;
}

.twoColumns .context {
	font-size: 1rem;
	line-height: 35px;
}

.twoColumnsImages {
	padding: 0 15%;
	margin-top: 20vh;
	display: grid;
	grid-template-columns: 46% 46%;
	column-gap: 8%;
	height: 75vh;
	align-items: center;
	margin-bottom: 15vh;
}

.twoColumnsImages h3 {
	font-size: calc(clamp(3.25em, 5vw, 4.5em) * .5);
	margin-bottom: 8%;
}

.personalImageTwo {
	width: 100%;
	height: 80vh;
}

.personalImageTwo {
	background-image: url("../images/second.JPG");
	background-size: 100%;
	background-repeat: no-repeat;
}

.resumeData {
	margin-bottom: 3%;
	width: 100%;
	padding-top: 1%;
}

.resumeData h1 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1.5% 0;
}

.resumeData p {
	color: #686868;
	font-size: 1rem;
}

.resumeData h3 {
	font-size: 1.1rem;
	font-weight: 50;
	margin-top: 2.5%;
	line-height: 35px;
	color: #686868;
}


.Language {
	background-color: rgb(233, 234, 235);
	padding: 5% 0 9% 0;
	height: fit-content;
	margin: 7% 0;
}

.languages {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	row-gap: 20%;
}


.banner {
	background-color: #37393a;
	width: 100%;
	height: 50vh;
	display: grid;
	padding: 3% 0%;
	margin: 25vh 0;
	overflow: hidden;
}
.resume {
	display: grid;
	width: 88%;
	align-items: center;
	padding-left: 12%;
	height: 40vh;
}


.buttonFillEight {
	width: 50px;
	height: 50px;
	display: grid;
	border-radius: 50px;
	align-items: center;
	background-color: #d37d3a;
	white-space: nowrap;
	cursor: pointer;
}


.button {
	text-transform: uppercase;
	font-weight: 600;
	font-size:  1.1rem;
	margin: 0% 14%;
	display: inline-block;
}

.marqueeText {
	width: 100%;
}


.marquee__inner, .marquee__innerRight {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.marquee__inner span {
    font-size: 5rem;
    transform: skewX(10deg);
    -webkit-text-stroke: 1px #e9eeec;
}

.marquee__innerRight span {
	font-size: 5rem;
    transform: skewX(-10deg);
    -webkit-text-stroke: 1px #e9eeec;
}


.quote {
	background-color: #74838a;
	height: 60vh;
	margin-top: 20vh;
	display: grid;
	align-items: center;
	justify-items: center;
}

.quote div {
	width: 65%;
}

.quote p {
	color: #e9eeec;
}

.quote p:nth-child(1) {
	text-align: center;
	font-size: 2.4rem;
	font-weight: 500;
}

.quote p:nth-child(2) {
	font-size: 1.2rem;
	text-align: right;
	margin-top: 3%;
	margin-right: 10%;
}


@media screen and (max-width: 1367px) {
	.twoColumnsImages {
		margin-bottom: 10vh;
	}

	.banner {
		height: 40vh;
		margin: 15vh 0;
	}

	.marquee__inner span, .marquee__innerRight span {
		font-size: 4.5rem;
	}
}

@media screen and (max-width: 1025px) {
	.marquee__inner span, .marquee__innerRight span {
		font-size: 4rem;
		-webkit-text-stroke: 0px #ffffff;
		color: #ffffff;
	}
}


@media screen and (max-width: 824px) {
	.landingImage {
		height: 20vh;
	}

	.context {
		margin-top: 10%;
		font-size: 1.25rem;
	}

	.landing {
		margin-top: 20vh;
	}

	.twoColumns {
		grid-template-columns: 100%;
	}

	.title {
		font-weight: 500;
		font-size: 1.5rem;
	}

	.twoColumnsImages {
		margin-top: 10vh;
		height: 50vh;
		margin-bottom: 10vh;
	}

	.banner {
		height: 27vh;
		margin: 10vh 0;
	}

	.marquee__inner span, .marquee__innerRight span {
		font-size: 2.7rem;
	}

	.quote {
		height: 35vh;
	}

	.quote div {
		width: 85%;
	}

	.quote p:nth-child(1) {
		font-size: 1.6rem;
	}

	.resume {
		height: 30vh;
	}

	.resumeData {
		grid-template-columns: 100%;
		margin-bottom: 10%;
	}

	.resumeData p {
		text-align: left;
	}

	.resumeData div {
		margin: 1% 0;
	}

	.quote {
		margin-top: 10vh;
	}
}

@media screen and (max-width: 500px) {
	.languages p {
		font-size: 0.95rem;
	}

	.landing .title {
		font-size: 4rem;
		font-weight: 700;
	}

	.Language {
		padding: 10% 0 23% 0;
	}

	.loadingImage {
		margin-bottom: 5vh;
		height: 60vh;
	}

	.twoColumns {
		margin: 0 10%;
	}

	.context {
		margin-top: 10%;
		font-size: 1.1rem;
	}

	.title {
		font-weight: 500;
		font-size: 1.8rem;
	}

	.twoColumnsImages {
		padding: 0 9%;
		margin-top: 10vh;
		display: grid;
		grid-template-columns: 100%;
		height: 100vh;
		margin-bottom: 20vh;
	}

	.banner {
		height: 25vh;
	}

	.marquee__inner span, .marquee__innerRight span {
		font-size: 1.8rem;
	}

	.quote {
		height: 35vh;
	}

	.quote div {
		width: 90%;
	}

	.quote p:nth-child(1) {
		font-size: 1.3rem;
	}

	.quote p:nth-child(2) {
		font-size: 1rem;
	}

	.resumeData h1 {
		font-size: 1.5rem;
		margin: 6% 0;
	}

	.resumeData p {
		font-size: 0.9rem;
		font-weight: 200;
	}

	.resumeData h3 {
		font-size: 0.97rem;
		font-weight: 100;
		margin-top: 1%;
		padding-bottom: 5%;
	}

	.resumeData div {
		margin: 3% 0;
	}

	.resumeData {
		margin-bottom: 14%;
	}

}
