footer {
  font-size: 1rem;
  display: grid;
  align-items: center;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem;
  padding-top: 8rem;
  row-gap: 2rem;

  p {
    color: var(--white-color);
  }
}

.footer-center-email a {
  text-align: center;
  font-size: 2.25rem;

  .bracket {
    padding: 0 1rem;
    transition: all 0.3s ease;
    color: inherit;
  }

  &::before {
    content: '(';
    margin-right: 1rem;
    transition: all 0.3s ease;
  }

  &::after {
    content: ')';
    margin-left: 1rem;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      margin-right: 2rem;
    }
    &::after {
      margin-left: 2rem;
    }
  }
}

.footer-grid {
  display: flex;
  gap: 2rem;

  a {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    font-weight: 400;
    font-size: 0.8125rem;
    margin-bottom: 0.75rem;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background-color: var(--white-color);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.footer-copy {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 0.8rem;
}
