.achievements {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  width: 100%;

  .achievements-title {
    width: 100%;
    max-width: 525px;
    font-size: var(--h1-text-size);
    font-weight: 500;
  }

  .achievement-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    width: 100%;
    margin: 0 100rem;
  }

  .achievement-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 0.5rem;
    width: 100%;
    max-width: 525px;
    height: 25rem;

    .achievement-item-image {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--cream-color);
    }

    &:nth-child(1) {
      .achievement-item-image {
        background-size: 40%;
      }
    }

    &:nth-child(2) {
      .achievement-item-image {
        background-size: 18%;
      }
    }

    p {
      font-size: var(--small-text-size);
      color: var(--subtle-text-color);
    }
  }
}

.divider {
  background-color: #e3e3e3;
  width: 100%;
  height: 1px;
}
