.intro {
  scroll-margin-top: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  width: 100%;
  max-width: 525px;

  .intro-name-text {
    font-weight: 500;
    font-size: var(--h1-text-size);
  }

  .intro-name {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .intro-description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
