footer {
	font-size: 1rem;
	display: grid;
	height: 5vh;
	width: 100%;
	margin-top: 3vh;
	justify-items: center;
	align-items: center;
	white-space: nowrap;
}

footer p {
	width: 30%;
	text-align: center;
	margin: 0;
	display: inline-block;
}

footer p i{
	margin: 0% 3%;
}

footer p span {
	margin: 0% 0% 0% 3%;
}

@media screen and (max-width: 824px) {
	footer p {
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	footer p {
		width: 90%;
	}
}
