footer {
	font-size: 0.85rem;
	display: grid;
	height: 6vh;
	width: 100%;
	margin-top: 3vh;
	justify-items: center;
	align-items: center;
	white-space: nowrap;
}

footer p {
	width: 25%;
	color: #434448;;
	text-align: center;
	margin: 0;
	display: inline-block;
}

footer p i{
	margin: 0% 3%;
	color: #434448;
}

footer p span {
	color: #434448;
	margin: 0% 0% 0% 3%;
}