@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.App, .scroll {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  color: #000000;
  font-family: "DM Sans",sans-serif;
}

.versionNumber p {
  color: #434448;
}

.versionNumber {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 2% 2% 0%;
  z-index: 10;
}
