* {
  --border-color: rgba(0, 0, 0, 0.12);
  --subtle-text-color: #87867f;
  --code-text-color: #74736e;
  --black-color: #010101;
  --text-black-color: rgb(40, 40, 40);
  --gray-color: #595959;
  --link-color: #006ed4;
  --blue-color: #0d1efff2;
  --light-blue-color: #414fff;
  --red-color: #f43407;
  --white-color: #ffffff;
  --light-gray-color: #bababa33;

  --border-radius: 1rem;
  --medium-border-radius: 1.5rem;
  --large-border-radius: 50px;
  --button-border-radius: 0.5rem;

  --h1-text-size: 3.5em;
  --h2-text-size: 1.15rem;
  --p-text-size: 0.95rem;
  --medium-text-size: 1rem;
  --small-text-size: 0.875rem;

  --context-width-size: 900px;
  --context-width-size-small: 475px;
  --short-display-padding-size: 10rem;

  --marcellus-font: 'Marcellus', serif;

  margin: 0;
  color: var(--gray-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  border-radius: 6px;
  font-size: 85%;
  padding: 0.2em 0.4em;
  background-color: #818b981f;
  font-family: 'DM Mono', monospace;
}

p {
  margin: 0;
  padding: 0;
  font-size: var(--p-text-size);
  line-height: 1.45;
}

span {
  line-height: 1.45;
}

.divider {
  background-color: var(--border-color);
  height: 1px;
  width: stretch;
}

.code-content {
  margin: 0 calc(var(--short-display-padding-size) * 0.5);
}

.short-display {
  margin: 0 var(--short-display-padding-size);
}

.code-content {
  font-size: 0.975rem;
}

h1 {
  font-size: var(--h1-text-size);
  font-weight: 400;
  font-family: var(--marcellus-font);
  letter-spacing: -0.03em;
}

h2 {
  font-size: var(--h2-text-size);
}

h1,
h2,
h3 {
  color: var(--black-color);
}

.main-page-title {
  font-weight: 500;
  font-size: var(--h2-text-size);
}

.frosted-effect {
  background: rgba(50, 50, 50, 0.55);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
