* {
  --border-color: #b9b9b9;
  --subtle-text-color: #b9b9b9;
  --black-color: #050505;
  --cream-color: #f5f4ed;

  --border-radius: 1.5rem;
  --button-border-radius: 0.5rem;

  margin: 0;
  color: var(--black-color);
  font-family: 'Inter', sans-serif;
  font-size: 400;
}

body {
  overscroll-behavior-y: none;
  min-height: 100vh;
  background-color: #ffffff;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
